h1 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  color: #03608F;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.main-half {

}
.main-header h1{
  font-size: 50px;
  padding: 50px 0;
  color: #03608F;
}
h2 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  color: #03608F;
  margin-bottom: 30px;
  margin-top: 10px;
}

h3 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #03608F;
  margin-bottom: 10px;
}
.btn-white {
  width: 200px;
  height: 40px;
  border: none;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #03608F;
}
.btn-yellow {
  width: 200px;
  height: 40px;
  border: none;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #03608F;
  background-color: #EECC1C;
}
.main-screen {
  background-image: url("/img/main-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.4);
}
.main-half {
  background-color: #03608F;
  background: no-repeat;
  background-position: center;
  background-size: cover;
}
.container-offer {
  padding: 60px;
  margin-bottom: 30px;
  background: #035178;
  background-image: url("/img/offer-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.offer-text {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #F3F3F3;
}
.offer-button-1 {
  border: 0;
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #035178;
  padding: 20px;
  background: #FFFFFF;
  margin-bottom: 20px;
}
.offer-button-2 {
  border: 0;
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #035178;
  padding: 20px;
  background: #EECC1C;
}
.product-image {
  margin-bottom: 60px;
}
.product-button {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #EAEFF3;
  border: 0;
  height: 50px;
  width: 100%;
  background: #00679C;
}
.product-button:hover {
  background: #035178;
}

.product-offer {
  background: #00679C;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.product-offer-header {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  color: #F3F3F3;
  text-align: center;
  margin-bottom: 20px;
}
.product-offer-button {
width: 250px;
height: 50px;
display: block;
border: 0;
color: #03608F;
display: flex;
justify-content: center;
align-items: center;
background-color: #EECC1C;
}

p {
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
  margin-bottom: 30px;
}
p a {
  color:#035178;
}
.breadcrumb{
  display: flex;
}
.breadcrumb-item {
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 16px;
  color: #03608F;
  margin-top: 60px;
  margin-bottom: 30px;
}
.breadcrumb-item a {
  text-decoration: none;
  font-size: 16px;
  color: #03608F;
}
.breadcrumb-item .active {
  color: #777777;
}

hr {
  margin-top: -15px;
  margin-bottom: 50px;
}

img .article-image {
  min-height: 300px !important;
  margin-bottom: 30px !important;
}
.card-style {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 20px;
  color: #EAEFF3;
  text-align: center;
  justify-content: center;
  height: 180px;
  border-radius: 0;
  background-color: #035178;
  margin-bottom: 30px;
}

.card-style:hover {
  background-color: #EAEFF3;
  border: 1px;
  border-style: solid;
  border-color: #03608F;
  color: #035178;
}

a {
  text-decoration: none;
}

.price-label {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 30px;
  color: #333333;
}
.price-label-head {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 30px;
  color: #035178;
}

.card-style-article {
  color: #333;
}
.card {
  height: 255px;
  margin-bottom: 30px;
}

.card:hover {
  border: 1px solid #03608f;
  box-shadow: 0px 5px 30px rgba(31, 36, 102, 0.1);
  cursor: pointer;
  background: #f0faff;
}
.card-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
}
.card-text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #777777;
  vertical-align: bottom;
}
.header-frame {
  background-color: #03608F;
}
.header-panel {
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  display: flex;
}
.header-right-side {
  display: flex;
  justify-content: right;
  align-items: center;
}
.header-burger-icon {
  margin-left: 30px;
  display: none;
}
.header-button {
  margin-left: 30px;
}
.header-phone {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.header-phone a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.header-navbar {
  background-color: #035178;
}
nav {
  justify-content: space-between;

}
nav ul {
  display: flex;
  justify-content: space-between;
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
  z-index: 9999;
	}
nav ul li {
	display:inline-block;
	}
nav a {
	display:block;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #EAEFF3;
	padding: 15px 20px;
	text-decoration:none;

}
nav a:hover {
  color: #CECECE;
}
nav ul ul a:hover { 
	background-color: rgba(255, 255, 255, 0.4);
    color: #CECECE;
}
/* Fisrt level Dropdown */
nav ul ul li {
  background-color: #03608F;
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}
li > a:after { content:  ''; }
li > a:only-child:after { content: ''; }
/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 50px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}

/* Footer */
.footer-frame {
  background-color: #003C5B;
}
.footer-logo {
  margin-top: 60px;
  margin-bottom: 40px;
}
.footer-list {
  margin-bottom: 10px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #809DAD;
}
.footer-list ul {
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none;
  margin-bottom: 30px;
}
.footer-list ul li {
  margin-bottom: 10px;
}
.footer-list ul li a {
  margin-bottom: 10px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #809DAD;
}
.footer-list ul li a:hover{
  color: #CECECE;
}
.footer-list-header {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}
.footer-list-header a{
  color: #FFFFFF;
}
.footer-list-header a:hover{
  color: #CECECE;
}
.extra-margin{
  margin-bottom: 20px;
}
.content-wrapper {
  margin-bottom: 60px;
}
.client-wrapper {
  margin-bottom: 60px;
}
.client-logo {
  max-width: 100%;
}
.partner-wrapper {
  background-color: #035178;
  background-image: url("/img/offer-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}
.partner-header {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #F3F3F3;
  margin-top: 30px;
}
.partner-label {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #F3F3F3;
  margin-top: 30px;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .header-burger-icon {
    display: block;
  }
  nav {
    display: none;
  }
  .header-phone {
    display: none;
  }
}
@media (max-width: 768px) {
  .partner-header {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 24px;
  }
  .main-header h1{
    font-size: 43px;
  }
  h2 {
    font-size: 24px;
  }
  .partner-wrapper {
    height:300px;
  }
  .header-button {
    display: none;
  }
  .partner-label {
    margin-top: 20px;
  }
  .btn-white{
    width: 100%;
    height: 50px;
  }
  .btn-yellow{
    width: 100%;
    height: 50px;
  }
}