h1 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  color: #03608F;
  margin-bottom: 30px;
  text-transform: uppercase;
}
h2 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  color: #03608F;
  margin-bottom: 30px;
  margin-top: 10px;
}
.partners-label h2 {
  margin-bottom: 0px !important;
}

h3 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #03608F;
  margin-bottom: 10px;
}
.btn {
  width: 240px;
  height: 55px;
  border: none;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin: 0px 0px 0px 0px;
}
.btn-white {
  color: #03608F;
  background-color: #FFFFFF;
}
.btn-white:hover{
  color: #03608F;
  background-color: #F0FAFF   ;
}
.btn-yellow {
  color: #03608F;
  background-color: #EECC1C;
}
.btn-yellow:hover {
  color: #03608F;
  background-color: #FFE55F;
}
.btn-border {
  border: 1px solid #C8C8C8;
}
.btn-border:hover {
  border: 1px solid #03608F;
}
.main-screen {
  height: 520px;
  position: relative;
  background-image: url("/img/main-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-screen .container {
  z-index: 1;
}
.main-half {
  top: 0;
  position: absolute;
  height: 100%;
  width: 50%;
  background: rgba(0, 80, 120, 0.9);
}
.main-header h1{
  font-size: 50px;
  padding: 70px 0px 0px 0px;
  color: #FFFFFF;
}
.main-btn {
  margin: 0px 0px 20px 0px;
}
.container-offer {
  padding: 60px;
  margin-bottom: 30px;
  background: #035178;
  background-image: url("/img/offer-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.offer-text {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #F3F3F3;
}
.offer-button-1 {
  border: 0;
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #035178;
  padding: 20px;
  background: #FFFFFF;
  margin-bottom: 20px;
}
.offer-button-2 {
  border: 0;
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #035178;
  padding: 20px;
  background: #EECC1C;
}
.product-image {
  margin-bottom: 60px;
}
.product-button {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #EAEFF3;
  border: 0;
  height: 50px;
  width: 100%;
  background: #00679C;
}
.product-button:hover {
  background: #035178;
}

.product-offer {
  background: #00679C;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.product-offer-header {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  color: #F3F3F3;
  text-align: center;
  margin-bottom: 20px;
}
.product-offer-button {
width: 250px;
height: 50px;
display: block;
border: 0;
color: #03608F;
display: flex;
justify-content: center;
align-items: center;
background-color: #EECC1C;
}

p {
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
  margin-bottom: 30px;
}
p a {
  color:#035178;
}
.breadcrumb{
  display: flex;
  margin-top: 60px;
  margin-bottom: 30px;
}
.breadcrumb-item {
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 16px;
  color: #03608F;

}
.breadcrumb-item a {
  text-decoration: none;
  font-size: 16px;
  color: #03608F;
}
.breadcrumb-item .active {
  color: #777777;
}

hr {
  margin-top: -15px;
  margin-bottom: 50px;
}

.article-image {
  min-height: 300px !important;
  margin-bottom: 30px !important;
  object-fit: cover
}

a {
  text-decoration: none;
}

.price-label {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 30px;
  color: #333333;
}
.price-label-head {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 30px;
  color: #035178;
}
.card-article {
  height: 280px;
  margin: 0px 0px 30px 0px;
}
.card-article:hover {
  background-color: #F0FAFF;
  border: 1px solid #03608f;
  box-shadow: 0px 5px 30px rgba(31, 36, 102, 0.1);
  cursor: pointer;
}
.card-article-img {
  height: 140px;
  object-fit: cover;
}
.card-article-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #035178;
  text-transform: uppercase;
}
.card-article-date {
  position: absolute;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #777777;
  margin: 0px 0px 16px 0px;
  bottom: 0;
}
.card-article-third {
}
.card-service{
  display: block;
  padding: 16px;
  height: 120px;
  margin: 0px 30px 30px 0px;
}
.card-service-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #035178;
  text-transform: uppercase;
}
.card-service-text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #777777;
}
.card-style:hover {
  background-color: #EAEFF3;
  border: 1px;
  border-style: solid;
  border-color: #03608F;
  color: #035178;
}

.card-product {
  height: 255px;
  margin-bottom: 30px;
}

.card:hover {
  border: 1px solid #03608f;
  box-shadow: 0px 5px 30px rgba(31, 36, 102, 0.1);
  cursor: pointer;
  background: #f0faff;
}
.card-style {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 20px;
  color: #EAEFF3;
  text-align: center;
  justify-content: center;
  height: 180px;
  border-radius: 0;
  background-color: #035178;
  margin-bottom: 30px;
}

.header-frame {
  background-color: #03608F;
}
.header-panel {
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  display: flex;
}
.header-right-side {
  display: flex;
  justify-content: right;
  align-items: center;
}
.burger_open_button {
  margin-left: 30px;
  display: none;
}
.header-button {
  margin-left: 50px;
}
.header-phone {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.header-phone a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.header-navbar {
  background-color: #035178;
}
nav {
  justify-content: space-between;

}
nav ul {
  display: flex;
  justify-content: space-between;
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
  z-index: 9999;
	}
nav ul li {
	display:inline-block;
	}
nav a {
	display:block;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #EAEFF3;
	padding: 15px 20px;
	text-decoration:none;

}
nav a:hover {
  color: #CECECE;
}
nav ul ul a:hover { 
	background-color: rgba(255, 255, 255, 0.4);
    color: #CECECE;
}
/* Fisrt level Dropdown */
nav ul ul li {
  background-color: #03608F;

	float:none;
	display:list-item;
	position: relative;
}
li > a:after { content:  ''; }
li > a:only-child:after { content: ''; }
/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 50px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}

/* Footer */
.footer-frame {
  background-color: #003C5B;
}
.footer-logo {
  margin-top: 60px;
  margin-bottom: 40px;
}
.footer-list {
  margin-bottom: 10px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #809DAD;
}
.footer-list ul {
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none;
  margin-bottom: 30px;
}
.footer-list ul li {
  margin-bottom: 10px;
}
.footer-list ul li a {
  margin-bottom: 10px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #809DAD;
}
.footer-list ul li a:hover{
  color: #CECECE;
}
.footer-list-header {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}
.footer-list-header a{
  color: #FFFFFF;
}
.footer-list-header a:hover{
  color: #CECECE;
}
.extra-margin{
  margin-bottom: 20px;
}
.content-wrapper {
  margin-bottom: 60px;
}
.client-wrapper {
  margin-bottom: 60px;
}
.client-logo {
  max-width: 100%;
}
.services-wrapper {
  padding: 100px 0px 70px 0px;
}
.services-cols {
  display: flex;
}
.sevices-cards {
  display: inline-block;
}
.services-secondary{
}
.services-img {
  object-fit: cover;
  border-radius: 50%;
  width: 100%;
}
.press-wrapper {
  background-color: #F0FAFF;
  padding: 100px 0px 70px 0px;
}
.press-header {
  margin: 0px 0px 30px 0px;
}
.partners-wrapper {
  padding: 70px 0px;
}
.cta-wrapper {
  padding: 50px 0px 50px 0px;
  margin: 0px 0px 0px 0px;
}
.cta-bg {
  background-color: #035178;
  background-image: url("/img/offer-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cta-content {
}
.cta-label {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #F3F3F3;
  margin: 0px 0px 30px 0px;
}
.cta-btn {
  margin: 0px 0px 20px 0px;
  float: right;
}

@media (max-width: 1200px) {
  .card-article-third {
    display: none;
  }
  .services-secondary {
    display: none;
  }
}
@media (max-width: 992px) {
  .burger_open_button {
    display: block;
  }
  nav {
    display: none;
  }
  .header-phone {
    display: none;
  }
  .main-half {
    width: 100%;
  }
  .card-article-third {
    display: block;
  }
  .services-img {
    display: none;
  }
  .services-image-col {
    display: none;
  }
  .services-secondary {
    display: block;
  }
  .services-wrapper {
    padding: 60px 0px 30px 0px;
  }
}
@media (max-width: 768px) {
  .header-button {
    display: none;
  }
  .partner-header {
    font-size: 32px;
  }
  .cta-label {
    font-size: 30px;
  }
  .card-service {
    height: 140px;
  }
  .services-secondary {
    display: none;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 24px;
  }
  .main-header h1{
    font-size: 43px;
  }
  h2 {
    font-size: 24px;
  }
  .partner-wrapper {
    height:300px;
  }
  .partner-label {
    margin-top: 20px;
  }
  .btn-white {
    width: 100%;
    height: 50px;
  }
  .btn-yellow {
    width: 100%;
    height: 50px;
  }
  .card-article{
    height: 320px;
  }
  .card-article-img {
    height: 200px;
  }
  .card-service {
    margin: 0px 0px 30px 0px;
  }
  .services-cols {
    display: block;
  }
}